{% extends "base.html" %}
{% load crispy_forms_tags %}  

{% block content %}
{% comment %} <a href="{% url 'customer-list' %}">Back to list</a> <br> {% endcomment %}


<div class='col-12'>


    <div class='card mb-5'>
        <div class='card-header'>

            {% comment %} BACKBUTTON {% endcomment %}
            <div class='mb-3'>
                <a href="{% url 'customer-list' %}"  onclick='event.preventDefault();window.history.back()'  class='text-muted font-weight-bold fx fx-link'>
                    <i class="fas fa-angle-left text-muted"></i>
                    Back
                </a>
            </div>
            {% comment %} BACKBUTTON {% endcomment %}

            <h3 class="mb-0 mt-1 font-weight-bold">Create New Customer</h3>
        </div>
        <div class='card-body'>
            <form action="" method="post">
                {% csrf_token %}
                {{customer_form|crispy}}
                <h4 class='mt-5 pt-3 font-weight-bold text-uppercase border-bottom border-dark'>Address</h4>
                {{address_form|crispy}}
                <h4 class='mt-5 pt-3 font-weight-bold text-uppercase border-bottom border-dark'>Car(s)</h4>
                {{car_form|crispy}}
                
                <button class='w-100 btn btn-success mx-0' type="submit" value="Save">
                    Save
                </button>
            </form>
            </div>
</div>

</div>
 
{% endblock content %}