{% comment %} {% extends "customer-base.html" %} 
{% load crispy_forms_tags %}

{% block content %}


    <div class='section customer-signup'>

        <div class='row'>
            <div class='text-left col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3'>
                <div class='product bg-white p-4 text-left'>
                    <h3 class='brand-text'>Create User Account</h3>
                    <hr>
                    <p>If you have already have an account
                    <a href="/accounts/login" class='active-link'>sign in</a> instead.</p>

                    <!-- ################ -->

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{form|crispy}}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="brand-btn w-100" type="submit"><i class="fa fa-user-plus"></i> Register</button>
                    </form>

                    <!-- ################ -->

                </div>
            </div>
        </div>

    </div>

{% endblock content %} {% endcomment %}