{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block content %}

<div class='col-12'>
    <!-- content-card -->
    <div class='card mb-5'>
        <div class='card-header'>
            
            {% comment %} BACKBUTTON {% endcomment %}
            <div class='mb-3'>
                <a href="{% url 'customer-list' %}" onclick='event.preventDefault();window.history.back()'  class='text-muted font-weight-bold fx fx-link'>
                    <i class="fas fa-angle-left text-muted"></i>
                    Back
                </a>
            </div>
            {% comment %} BACKBUTTON {% endcomment %}

            <h3 class='card-title font-weight-bold'>Add new customer address</h3>
        </div>

        <div class='card-body'>
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button class='w-100 btn btn-success mx-0' type="submit" value="Save">
                    <i class="fas fa-check"></i> Save
                </button>
            </form>
        </div>
    <!-- ./content-card -->
    </div> 
</div>

{% endblock content %}