{% extends "base.html" %} 
{% load crispy_forms_tags %}  
{% load static %}

{% block content %} 
<div class='col-12'>


<div class='card mb-5'>
    <div class='card-header'>

        {% include "sub/back-button.html" %}

        <h3 class="font-weight-bold mb-0 card-title">Edit product</h3>
    </div>
    <div class='card-body'>
        <!-- this form MUST stay inside -->
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}

            <button class='w-100 btn btn-success mx-0' id='edit' type="submit" value="Save">
                <i class="fas fa-check"></i> Save
            </button>
        </form>
        <!-- this form MUST stay inside -->
    </div>
</div>


</div>
{% endblock content %}