{% extends "base.html" %} 
{% load crispy_forms_tags %}  

{% block content %} 
<div class='col-12'>


<div class='card mb-5'>
    <div class='card-header'>

        <div class='mb-3'>
            <a href="{% url 'staff-list' %}" onclick='event.preventDefault();window.history.back()' class='text-muted font-weight-bold fx fx-link'>
                <i class="fas fa-angle-left text-muted"></i>
                Back
            </a>
        </div>

        <h3 class="mb-0 card-title"><span class='font-weight-bold '>Edit Your Profile</span></h3>
    </div>
    <div class='card-body'>
        <!-- this form MUST stay inside -->
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Edit">
        </form>
        <!-- this form MUST stay inside -->
    </div>
</div>
 

</div>
{% endblock content %}