<div class='custom-ui-alert-small hidden two-buttons     bg-danger border rounded text-white font-weight bold'>
    <div class='row justify-content-between align-items-center'>
        <div class='col'>
            <p class='message my-0 ml-3'>
                EMPTY MESSAGE
            </p>
        </div>
        <div class='col'>
            <div class='row justify-content-end mr-1'>
                <div class=''>
                    <button class='btn btn-small second-button btn-light'>UNDO</button>
                    <button class='btn btn-small first-button btn-dark'>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>