<div class='row my-2'>
    <div class='col-12'>
        <div class='directory overflow-x-scroll'>

            <ul class="list-group list-group-horizontal">
                <!-- ITEM-->
                <li class="pl-2 pr-2">
                    <div class=' directory-item product bg-white d-flex align-items-center justify-content-center'>
                        <div>
                            <h1 class='text-center mb-0'>
                                <i class='fas fa-car'></i>
                            </h1>
                            <h5 class='text-center mt-0'>Repairs</h5>

                            <a class='stretched-link' href='#cars'></a>
                        </div>
                    </div>
                </li>
                <!-- ./ITEM -->


                <!-- ITEM-->
                <li class="pl-2 pr-2">
                    <div class=' directory-item product bg-white d-flex align-items-center justify-content-center'>
                        <div>
                            <h1 class='text-center mb-0'>
                                <i class='fas fa-car'></i>
                            </h1>
                            <h5 class='text-center mt-0'>Tires</h5>

                            <a class='stretched-link' href='#cars'></a>
                        </div>
                    </div>
                </li>
                <!-- ./ITEM-->


                <!-- ITEM-->
                <li class="pl-2 pr-2">
                    <div class=' directory-item product bg-white d-flex align-items-center justify-content-center'>
                        <div>
                            <h1 class='text-center mb-0'>
                                <i class='fas fa-car'></i>
                            </h1>
                            <h5 class='text-center mt-0'>Accessories</h5>

                            <a class='stretched-link' href='#cars'></a>
                        </div>
                    </div>
                </li>
                <!-- ./ITEM-->


                <!-- ITEM-->
                <li class="pl-2 pr-2">
                    <div class=' directory-item product bg-white d-flex align-items-center justify-content-center'>
                        <div>
                            <h1 class='text-center mb-0'>
                                <i class='fas fa-car'></i>
                            </h1>
                            <h5 class='text-center mt-0'>Oil</h5>

                            <a class='stretched-link' href='#cars'></a>
                        </div>
                    </div>
                </li>
                <!-- ./ITEM-->


                <!-- ITEM-->
                <li class="pl-2 pr-2">
                    <div class=' directory-item product bg-white d-flex align-items-center justify-content-center'>
                        <div>
                            <h1 class='text-center mb-0'>
                                <i class='fas fa-car'></i>
                            </h1>
                            <h5 class='text-center mt-0'>Shock Absorbers</h5>

                            <a class='stretched-link' href='#cars'></a>
                        </div>
                    </div>
                </li>
                <!-- ./ITEM-->


                <!-- ITEM-->
                <li class="pl-2 pr-2">
                    <div class=' directory-item product bg-white d-flex align-items-center justify-content-center'>
                        <div>
                            <h1 class='text-center mb-0'>
                                <i class='fas fa-car'></i>
                            </h1>
                            <h5 class='text-center mt-0'>Wiper Blades</h5>

                            <a class='stretched-link' href='#cars'></a>
                        </div>
                    </div>
                </li>
                <!-- ./ITEM-->


                <!-- ITEM-->
                <li class="pl-2 pr-2">
                    <div class=' directory-item product bg-white d-flex align-items-center justify-content-center'>
                        <div>
                            <h1 class='text-center mb-0'>
                                <i class='fas fa-car'></i>
                            </h1>
                            <h5 class='text-center mt-0'>Polishing</h5>

                            <a class='stretched-link' href='#cars'></a>
                        </div>
                    </div>
                </li>
                <!-- ./ITEM-->


                <!-- ITEM-->
                <li class="pl-2 pr-2">
                    <div class=' directory-item product bg-white d-flex align-items-center justify-content-center'>
                        <div>
                            <h1 class='text-center mb-0'>
                                <i class='fas fa-car'></i>
                            </h1>
                            <h5 class='text-center mt-0'>Window Tinting</h5>

                            <a class='stretched-link' href='#cars'></a>
                        </div>
                    </div>
                </li>
                <!-- ./ITEM-->


                <!-- ITEM-->
                <li class="pl-2 pr-2">
                    <div class=' directory-item product bg-white d-flex align-items-center justify-content-center'>
                        <div>
                            <h1 class='text-center mb-0'>
                                <i class='fas fa-car'></i>
                            </h1>
                            <h5 class='text-center mt-0'>Rims</h5>

                            <a class='stretched-link' href='#cars'></a>
                        </div>
                    </div>
                </li>
                <!-- ./ITEM-->


                <!-- ITEM-->
                <li class="pl-2 pr-2">
                    <div class=' directory-item product bg-white d-flex align-items-center justify-content-center'>
                        <div>
                            <h1 class='text-center mb-0'>
                                <i class='fas fa-car'></i>
                            </h1>
                            <h5 class='text-center mt-0'>Batteries</h5>

                            <a class='stretched-link' href='#cars'></a>
                        </div>
                    </div>
                </li>
                <!-- ./ITEM-->


            </ul>
        </div>
    </div>
</div>