<div class='row'>
    <div class='col-12'>
        <form action="" method="get">
            <div class="form-group">
                <div class='input-group border border-light'>
                    <input type="text" class="form-control border-bottom-0" id="search" name="q" placeholder="Search...">
                    <div class='input-group-append'>
                        <button type="submit" class="bg-primary px-5">
                            <i class='fa fa-search text-white'></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>