{% extends "customer-base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class='section customer-signup'>

        <div class='row'>
            <div class='text-left col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3'>
                <div class='product bg-white p-4 text-left'>
                    <h3 class='brand-text'>
                        {% trans "Change Password" %}
                    </h3>
                    <hr>

                    <p>{% trans 'Your password is now changed.' %}</p>

                    <div class='text-center'>
                        <button class="add-to-cart-btn product-add-button mt-2">
                            <i class="fa fa-shopping-cart"></i> Continue Shopping   
                            <a href="{% url 'home' %}" class="stretched-link"></a>
                        </button>
                    </div>

            </div>
        </div>
    </div>
{% endblock %}