{% extends "customer-base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class='section customer-signup'>

        <div class='row'>
            <div class='text-left col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3'>
                <div class='product bg-white p-4 text-left'>
                    <h3 class='brand-text'>{% trans "Password Reset" %}</h3>
                    <hr>

                    <h1></h1>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

                    <div class='text-left'>
                        <p>
                            Email us at <a class='brand-text' href="mailto:sales@kiosban.com"><i class="fa fa-envelope"></i> <span class='text-underline'>sales@kiosban.com</span></a>.
                        </p>
                    </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}