{% extends "base.html" %}

{% block content %}

<div class='col-12'>

    <div class='card mb-5'>
        <div class='card-header pb-0'>
            <div class='row'>
                <div class='col-12'>
                    <h3 class='card-title font-weight-bold'>Stores List</h3>
                </div>
            </div>

            <div class='col-12 col-md-6 pl-0'>
                <a href="{% url 'stores-create' %}" class='clickable btn btn-success btn-large m-0 mb-3 px-3'>
                    <i class="fas fa-plus-circle"></i> New Store
                </a>
            </div>

        </div>
        <div class='card-body p-0'>

            <!-- PAGINATION -->
                <div class='my-2 ml-2'>
                    <span class="step-links">
                        {% if stores.has_previous %}
                            <a href="?page=1">First</a>
                            <a href="?page={{ stores.previous_page_number }}" class='ml-3 mr-2 clickable clickable-large'>
                                <i class="fas fa-angle-left"  class='clickable clickable-large'></i>
                            </a>
                        {% endif %}

                        <span class="current">
                            Page {{ stores.number }} of {{ stores.paginator.num_pages }}
                        </span>

                        {% if stores.has_next %}
                            <a href="?page={{ stores.next_page_number }}" class='mr-3 ml-2'>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <a href="?page={{ stores.paginator.num_pages }}">Last</a>
                        {% endif %}
                    </span>
                </div>
            <!-- ./PAGINATION -->

            <table class="table table-striped table-sm table-hover mb-0">
                <thead class="grey white-text">
                <tr>
                    <th class='align-baseline pl-3' scope="col" style='width:55px'></th>
                    <th class='align-baseline pl-3' scope="col">Store Name</th>
                    <th class='align-baseline pl-3' scope="col">Store Address</th>
                    <th class='align-baseline pl-3' scope="col">Store Phone Number</th>
                </tr>
                </thead>
                <tbody>
                    {% for store in stores %}
                        <tr>
                            <td class='pl-3 align-middle'>
                                <b>
                                    <a href="{% url 'stores-update' store.pk %}" class='text-muted d-inline-block clickable clickable-large'><i class="fas fa-pencil-alt"></i></a>   <a href="{% url 'stores-delete' store.pk %}" class='text-danger d-inline-block clickable clickable-large'><i class="fas fa-trash-alt"></i></a>
                                </b>
                            </td>
                            <td class='pl-3 align-middle font-weight-bold'>
                                {{store.name}}
                            </td>
                            <td class='pl-3 align-middle'>
                                {{store.address}}
                                <br>
                                {{store.city}} ({{store.zipCode}})
                            </td>
                            <td class='pl-3 align-middle'>
                                {{store.phoneNumber}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- PAGINATION -->
                <div class='my-2 ml-2'>
                    <span class="step-links">
                        {% if stores.has_previous %}
                            <a href="?page=1">First</a>
                            <a href="?page={{ stores.previous_page_number }}" class='ml-3 mr-2 clickable clickable-large'>
                                <i class="fas fa-angle-left"  class='clickable clickable-large'></i>
                            </a>
                        {% endif %}

                        <span class="current">
                            Page {{ stores.number }} of {{ stores.paginator.num_pages }}
                        </span>

                        {% if stores.has_next %}
                            <a href="?page={{ stores.next_page_number }}" class='mr-3 ml-2'>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <a href="?page={{ stores.paginator.num_pages }}">Last</a>
                        {% endif %}
                    </span>
                </div>
            <!-- ./PAGINATION -->

        </div>
    </div>

</div>
{% endblock content %}

{% block customJS %}

{% endblock customJS %}