{% extends "base.html" %}

{% load static %}

{% block content %}

<div class='col-12'>

    <div class='card mb-5'>
        <div class='card-header pb-0'>
            <div class='row'>
                <div class='col-12'>
                    <h3 class='card-title font-weight-bold'>Coupons List</h3>
                </div>
            </div>

            <div class='col-12 col-md-6 pl-0'>
                <a href="{% url 'coupon-create' %}" class='clickable btn btn-success btn-large m-0 mb-3 px-3'>
                    <i class="fas fa-plus-circle"></i> New Coupon
                </a>
            </div>

            <!-- ====================== -->
            <!-- ====================== -->
            <div class='form-group m-0'>
                <div class='d-inline mr-3'>
                    <input onclick='checkboxChangesSearchParams(this)' data-link-if-checked='include=expired' data-link-if-unchecked='null'     class='clickable' type="checkbox" id="include_expired" name="include">
                    <label class='clickable' for="include_expired">Include expired coupons</label>
                </div>
            </div>
            <!-- ====================== -->
            <!-- ====================== -->

        </div>
        <div class='card-body p-0'>

            <!-- PAGINATION -->
                <div class='my-2 ml-2'>
                    <span class="step-links">
                        {% if coupons.has_previous %}
                            <a href="?page=1">First</a>
                            <a href="?page={{ coupons.previous_page_number }}" class='ml-3 mr-2 clickable clickable-large'>
                                <i class="fas fa-angle-left"  class='clickable clickable-large'></i>
                            </a>
                        {% endif %}

                        <span class="current">
                            Page {{ coupons.number }} of {{ coupons.paginator.num_pages }}
                        </span>

                        {% if coupons.has_next %}
                            <a href="?page={{ coupons.next_page_number }}" class='mr-3 ml-2'>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <a href="?page={{ coupons.paginator.num_pages }}">Last</a>
                        {% endif %}
                    </span>
                </div>
            <!-- ./PAGINATION -->

            <table class="table table-striped table-sm table-hover mb-0">
                <thead class="grey white-text">
                <tr>
                    <th class='align-baseline pl-3' scope="col"></th>
                    <th class='align-baseline pl-3' scope="col">Coupon Name</th>
                    <th class='align-baseline pl-3' scope="col">Discount Amount</th>
                    <th class='align-baseline pl-3' scope="col">Active Date</th>
                    <th class='align-baseline pl-3' scope="col">Coupons Used</th>
                </tr>
                </thead>
                <tbody>
                    {% for coupon in coupons %}
                        <tr>
                            <td class='pl-3'>
                                <b>
                                    <a href="{% url 'coupon-edit' coupon.pk %}" class='text-muted d-inline-block clickable clickable-large'><i class="fas fa-pencil-alt"></i></a>   <a href="{% url 'coupon-delete' coupon.pk %}" class='text-danger d-inline-block clickable clickable-large'><i class="fas fa-trash-alt"></i></a>
                                </b>
                            </td>

                            <!-- ================================== -->
                            <!-- ================================== -->

                            
                            <td class='pl-3'>
                                {% if coupon.isActive %}


                                    {% now "Y-m-d" as todays_date %}
                                    {% if coupon.dateEnd %} {% comment %} If the coupon has no enddate, it would be displayed as "EXPIRED" if we do not have this check in place {% endcomment %}
                                        {% if todays_date > coupon.dateEnd|date:"Y-m-d" %} {% comment %} THIS CHECKS WHETHER THE COUPON HAS ALREADY EXPIRED {% endcomment %}
                                                <span class='text-danger'>
                                                    {{coupon.code}}
                                                    <br>
                                                    <small>(Expired)</small>
                                                </span>
                                            {% else %}
                                                <b class='font-weight-bold'>
                                                    {{coupon.code}}
                                                </b>
                                        {% endif %}

                                        {% else %}
                                            <b class='font-weight-bold'>
                                                {{coupon.code}}
                                            </b>
                                    {% endif %}


                                {% else %}
                                    (Inactive) {{coupon.code}}
                                {% endif %}
                            </td>

                            <!-- ================================== -->
                            <!-- ================================== -->


                            <td class='pl-3'>
                                {% if coupon.discountType == "percent"%}
                                    {{coupon.discountAmount}}%
                                {% else %}
                                    {% include "sub/currency.html" %}{{coupon.discountAmount}}
                                {% endif %}
                            </td>

                            
                            <!-- ================================== -->
                            <!-- ================================== -->


                            <td class='pl-3'>
                                <table class='table-borderless p-0 table-sm'>
                                    <tbody>
                                        <tr class=' bg-transparent p-0'>
                                            <td class='p-1'>
                                                Start Date:
                                            </td>
                                            <td class='p-1 text-right font-weight-bold'>
                                                {{coupon.dateStart}}
                                            </td>
                                        <tr>
                                        <!-- ============== -->
                                        <tr class=' bg-transparent border-top '>
                                            <td class='p-1'>
                                                End End: 
                                            </td>
                                            <td class='p-1 text-right font-weight-bold'>
                                                {% now "Y-m-d" as todays_date %}
                                                {% if coupon.dateEnd %} {% comment %} If the coupon has no enddate, it would be displayed as "EXPIRED" if we do not have this check in place {% endcomment %}
                                                    {% if todays_date > coupon.dateEnd|date:"Y-m-d" %} {% comment %} THIS CHECKS WHETHER THE COUPON HAS ALREADY EXPIRED {% endcomment %}
                                                            <span class='text-danger'>
                                                                {{coupon.dateEnd}} 
                                                                <br>
                                                                <small>(Expired)</small>
                                                            </span>
                                                        {% else %}
                                                            {{coupon.dateEnd}}
                                                    {% endif %}

                                                    {% else %}
                                                        <span class='font-weight-normal'></span>
                                                {% endif %}
                                            </td>
                                        <tr>
                                    <tbody>
                                </table>

                            </td>

                            <!-- ================================== -->
                            <!-- ================================== -->

                            <td class='pl-3'>
                                {{coupon.amountUsed}}/{{coupon.amountLimit}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- PAGINATION -->
                <div class='my-2 ml-2'>
                    <span class="step-links">
                        {% if coupons.has_previous %}
                            <a href="?page=1">First</a>
                            <a href="?page={{ coupons.previous_page_number }}" class='ml-3 mr-2 clickable clickable-large'>
                                <i class="fas fa-angle-left"  class='clickable clickable-large'></i>
                            </a>
                        {% endif %}

                        <span class="current">
                            Page {{ coupons.number }} of {{ coupons.paginator.num_pages }}
                        </span>

                        {% if coupons.has_next %}
                            <a href="?page={{ coupons.next_page_number }}" class='mr-3 ml-2'>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <a href="?page={{ coupons.paginator.num_pages }}">Last</a>
                        {% endif %}
                    </span>
                </div>
            <!-- ./PAGINATION -->

        </div>
    </div>

</div>
{% endblock content %}

{% block customJS %}

    <script type="text/javascript" src="{% static "mdbootstrap/js/custom/utilities.js" %}"></script>

    <script>
        $(document).ready(function(){
            restoreFilterValues();
        });
    </script>

{% endblock customJS %}